* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --main-bg-color: #f1f5f9;
  --primary: #2d3250;
  --secondary: #424769;
  --tertiary: #7077a1;
  --contrast: #f6b17a;
}

html {
  background-color: var(--primary);
  font-family: sans-serif;
}

header {
  max-width: 80ch;
}

body {
  color: var(--main-bg-color);
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 2rem;
  font-size: 16px;
  line-height: 1.7;
}

footer {
  border-top: 1px solid var(--contrast);
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* .hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: var(--contrast);
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 3rem;
  color: var(--main-bg-color);
  background: var(--primary);
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-link {
  color: var(--main-bg-color);
}

.nav-links a:hover,
.nav-links a:focus {
  background: var(--secondary);
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: block;
    margin-left: 5rem;
    position: static:;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  .hamburger {
    display: none;
  }
} */
