---
const platform = "github";
const username = "PeterEckIII";
---

<footer>
  <a href="mailto:jpeckiii@gmail.com">email</a>
  <a href={`https://www.${platform}.com/${username}`}>github</a>
  <a href="https://www.linkedin.com/in/jpetereck">linkedin</a>
  <a href="https://facebook.com/peter.eck.37">facebook</a>
</footer>

<style>
  * {
    --secondary: #424769;
  }
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 4rem;
  }

  a {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    color: white;
    background-color: var(--primary);
    text-decoration: none;
    border-radius: 5px;

    &:hover {
      background-color: var(--secondary);
    }
  }
</style>
