---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<header>
  <nav>
    <Navigation />
    <Hamburger />
  </nav>
</header>

<style>
  header {
    --contrast: #f6b17a;
    border-bottom: 1px solid var(--contrast);
  }
  nav {
    display: flex;
    /* BELOW LINE MOVES HAMBURGER TO RIGHT SIDE -- BUT ONLY BEFORE CLICK */
    /* justify-content: flex-end; */
  }
</style>
